*{
    margin: 0px;
}

#main,#canvas{
    border: 2px solid black;
    margin-top:0px;
}
#canvas{
    border: 2px solid black;
    width:60%;
    height:700px;
    margin:auto;
}
#form-body{
    border: 1px solid grey;
    width:300px;
    height:400px;
    margin: auto;
    margin-top: 200px;
    border-radius:5px;
    padding: 10px;
}
.headings{
    margin:4px;
    padding: 10px;
    margin-top:5px;
}
#para{
    margin: 10px;
}
#table{
    margin:10px;
}
.table{
    border: 3px solid black;
}